<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ishow.mysql.mapper.IShowGoodsInfoShopMapper">
  <resultMap id="BaseResultMap" type="com.ishow.mysql.domain.IShowGoodsInfoShop">
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="shopId" jdbcType="VARCHAR" property="shopId" />
    <result column="goodsInfoId" jdbcType="INTEGER" property="goodsInfoId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pid, shopId, goodsInfoId
  </sql>
  <select id="selectByExample" parameterType="com.ishow.mysql.domain.IShowGoodsInfoShopExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ishowgoodsinfoshop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ishowgoodsinfoshop
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ishowgoodsinfoshop
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ishow.mysql.domain.IShowGoodsInfoShopExample">
    delete from ishowgoodsinfoshop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="pid" keyProperty="pid" parameterType="com.ishow.mysql.domain.IShowGoodsInfoShop" useGeneratedKeys="true">
    insert into ishowgoodsinfoshop (shopId, goodsInfoId)
    values (#{shopId,jdbcType=VARCHAR}, #{goodsInfoId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="pid" keyProperty="pid" parameterType="com.ishow.mysql.domain.IShowGoodsInfoShop" useGeneratedKeys="true">
    insert into ishowgoodsinfoshop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        shopId,
      </if>
      <if test="goodsInfoId != null">
        goodsInfoId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="goodsInfoId != null">
        #{goodsInfoId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ishow.mysql.domain.IShowGoodsInfoShopExample" resultType="java.lang.Long">
    select count(*) from ishowgoodsinfoshop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ishowgoodsinfoshop
    <set>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.shopId != null">
        shopId = #{record.shopId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsInfoId != null">
        goodsInfoId = #{record.goodsInfoId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ishowgoodsinfoshop
    set pid = #{record.pid,jdbcType=INTEGER},
      shopId = #{record.shopId,jdbcType=VARCHAR},
      goodsInfoId = #{record.goodsInfoId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ishow.mysql.domain.IShowGoodsInfoShop">
    update ishowgoodsinfoshop
    <set>
      <if test="shopId != null">
        shopId = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="goodsInfoId != null">
        goodsInfoId = #{goodsInfoId,jdbcType=INTEGER},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ishow.mysql.domain.IShowGoodsInfoShop">
    update ishowgoodsinfoshop
    set shopId = #{shopId,jdbcType=VARCHAR},
      goodsInfoId = #{goodsInfoId,jdbcType=INTEGER}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>